.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000; /* Couleur de fond noire */
    color: white; /* Couleur du texte */
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
    gap: 100px; /* Espace entre les liens */
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav a:hover {
    text-decoration: underline; /* Souligner au survol */
  }
  